{% extends 'base2.html' %}

{% block content %}
{% load static %}

<!-- Content Start -->
<div class="content">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0" style="height: 60px;">
        <a href="#" class="sidebar-toggler flex-shrink-0">
            <i class="fa fa-bars"></i>
        </a>
    </nav>
    <!-- Navbar End -->

    <!-- Blank Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="bg-light rounded p-4">
            <!-- Add Project Button Start -->
            <div class="text-end mb-3">
                <button class="btn btn-primary gradient-button" id="addProjectBtn">+ Add Project</button>
            </div>
            <!-- Add Project Button End -->

            <!--* Add Project Start -->
            <div class="modal" id="projectFormModal" tabindex="-1" aria-labelledby="projectFormModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content" style="border: 2px solid #32CD32; border-radius: 10px;">
                        <div class="modal-header">
                            <h5 class="modal-title" id="projectFormModalLabel">Add Project</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="post" enctype="multipart/form-data" id="addProjectFormContent" action="{% url 'supervisor:add_project' %}">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="projectName">Project Name</label>
                                            {{ form.name }}
                                            {{ form.errors.name }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="regionName">Location</label>
                                            {{ form.city }}
                                            {{ form.errors.city }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="startDate">Start Date</label>
                                            {{ form.date_debut }}
                                            {{ form.errors.date_debut }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="endDate">End Date</label>
                                            {{ form.date_fin }}
                                            {{ form.errors.date_fin }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="existingClient">Choose An Existing Client</label>
                                            {{ form.client }}
                                            {{ form.errors.client }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="contractFile">Contract (choose file)</label>
                                            {{ form.piece_joindre }}
                                            {{ form.errors.piece_joindre }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="projectDescription">Project Description</label>
                                    {{ form.descp }}
                                    {{ form.errors.descp }}
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary gradient-button" style="padding: 10px 100px; border-radius: 20px;">Next</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--* Add Project End -->

            <!--* Project List Start -->
            {% for project in projects_by_client %}
            <a href="?reload=true&client_id={{project.client_id}}">
                <div class="alert {% cycle 'alert-primary' 'alert-secondary' 'alert-info' 'alert-success' 'alert-danger' 'alert-warning' 'alert-light' 'alert-dark' %} clickable-modal-launcher" >
                    <strong>Project by client: {{ project.full_name }}</strong> - Projects: {{ project.count }}
                </div>
            </a>
            {% empty %}
                <div class="col-12">
                    <p>No Project found.</p>
                </div>
            {% endfor %}
            <!--* Project List End -->

            <div id="list" role="alert" data-bs-toggle="modal" data-bs-target="#projectList" style="display: none;"></div>

            <!--* List Project Of Client Start -->
            <div class="modal" id="projectList" tabindex="-1" aria-labelledby="projectFormModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content" style="border: 2px solid #32CD32; border-radius: 10px;">
                        <div class="modal-header">
                            <h4 class="modal-title" id="projectFormModalLabel" style="text-align: center;">List Project Of Client</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container mt-4">
                                <div class="row">
                                    {% for project in projects %}
                                        <!-- Project Card Start -->
                                        <div class="col-md-4">
                                            <div class="project-card">
                                                <div class="project-card-body">
                                                    <h5 class="project-card-title">Project Name: {{ project.name }}</h5>
                                                    <p class="project-card-text">{{ project.descp }}</p>
                                                    <div class="project-card-actions">
                                                        <a class="project-card-action btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#projectDetailModal"
                                                            data-project-name="{{ project.name }}" data-project-desc="{{ project.descp }}"
                                                            data-project-start="{{ project.date_debut }}" data-project-end="{{ project.date_fin }}"
                                                            data-project-client="{{ project.client }}">
                                                            <i class="fa fa-eye"></i>
                                                        </a>

                                                        <a href="#" class="project-card-action btn btn-sm btn-warning"><i class="fa fa-edit"></i></a>
                                                        <a href="{% url 'supervisor:delete_project' project.pk %}" class="project-card-action btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to delete this project?');"><i class="fa fa-trash"></i></a>
                                                        <a href="#" class="project-card-action btn btn-sm btn-info" id="showCustomParcelsNodesModal"
                                                            data-project-id="{{ project.pk }}" data-project-name="{{ project.name }}">
                                                            <i class="fas fa-draw-polygon"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Project Card End -->
                                    {% empty %}
                                        <div class="col-12">
                                            <p>No Project found.</p>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--* List Project Of Client End -->

            <!--* Draw plots project Start -->
            <div class="modal" id="projectMapModal" tabindex="-1" aria-labelledby="projectFormModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl" style="height: 90%; max-height: 300%;">
                    <div class="modal-content" style="border: 2px solid #32CD32; border-radius: 10px; height: 100%; max-height: 300%;">
                        <div class="modal-header">
                            <h4 class="modal-title text-success fw-bold" id="projectFormModalLabel">
                                Draw plots project: <span style="color: black;">{{ project_name }}</span> of client: <span style="color: black;">{{ client_name }}</span>
                            </h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="closeDisplayParcelsModal"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row-map">
                                <div class="col-map">
                                    <div id="selected-map" style="display: none;" map-latitude="{{ data.latitude }}" map-longitude="{{ data.longitude }}"></div>
                                    <div class="content-map">
                                        <div id="map" style="width: 100%; height: 100%;">
                                            <script src="{% static 'js/map.js' %}"></script>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-map">
                                    <div id="mapContainer" data-url="{% url 'supervisor:add_parcelle' %}"></div>
                                    <form id="mapForm" method="post" enctype="multipart/form-data" action="{% url 'supervisor:add_parcelle' %}">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="name">Name:</label>
                                            {{ parcelle_form.name }}
                                            {% if parcelle_form.name.errors %}
                                                <div class="text-danger">
                                                    {{ parcelle_form.name.errors }}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="form-group">
                                            <label for="project">Project:</label>
                                            <select id="id_project" class="form-control">
                                                {% for project in parcelle_form.fields.project.queryset %}
                                                    <option value="{{ project.polygon_id }}" 
                                                            data-latitude="{{ project.city.latitude }}" 
                                                            data-longitude="{{ project.city.longitude }}" 
                                                            data-client-name="{{ project.client.firstName }} {{ project.client.lastName }}">
                                                        {{ project.name }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="text-center">
                                            <button type="button" class="btn btn-secondary gray-button" id="backButton" style="padding: 10px 50px; border-radius: 20px; margin-right: 10px;">Back</button>
                                            <button type="button" class="btn btn-primary gradient-button" id="nextButtonPolygon" style="padding: 10px 50px; border-radius: 20px;">Next</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
            <!--* Draw plots project End -->

            <!--* ADD NODE TO YOUR PROJECT START -->
            <div class="modal" id="displayParcelsModal" tabindex="-1" aria-labelledby="displayParcelsModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl" style="height: 100%; max-height: none;">
                    <div class="modal-content" style="border: 2px solid #32CD32; border-radius: 10px; height: 100%; max-height: none;">
                        <div class="modal-header">
                            <h4 class="modal-title text-success fw-bold" id="displayParcelsModalLabel">ADD NODE TO YOUR PROJECT:</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="closeButton"></button>
                        </div>
                        <div class="modal-body" style="height: calc(100vh - 100px);">
                            <form id="nodeForm" class="mb-3" method="post" action="{% url 'supervisor:add_node' %}">
                                {% csrf_token %}
                                <div class="row g-2">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="nodeName">Node Name:</label>
                                            {{ node_form.name }}
                                            <div id="nameAlert" class="alert-form alert-danger-form mt-2 d-none" role="alert"></div>
                                            {{ node_form.errors.name }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="nodeReference">ID Parcelle:</label>
                                            {{ node_form.reference }}
                                            <div id="referenceAlert" class="alert-form alert-danger-form mt-2 d-none" role="alert"></div>
                                            {{ node_form.errors.reference }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="nodeSensors">Node sensors:</label>
                                            {{ node_form.sensors }}
                                            <div id="sensorsAlert" class="alert-form alert-danger-form mt-2 d-none" role="alert"></div>
                                            {{ node_form.errors.sensors }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="nodeOrder">Node order:</label>
                                            {{ node_form.node_range }}
                                            <div id="orderAlert" class="alert-form alert-danger-form mt-2 d-none" role="alert"></div>
                                            {{ node_form.errors.node_range }}
                                        </div>
                                    </div>
                                </div>
                                {{ node_form.latitude }}
                                {{ node_form.longitude }}
                                {{ node_form.position }}
                                {{ node_form.parcelle }}
                            </form>
                            <div class="content-map-node mb-3" style="height: 70%;">
                                <div id="displayMap" style="width: 100%; height: 100%;"></div>
                            </div>
                            <div class="text-center">
                                <button type="button" class="btn btn-primary gradient-button btn-lg" id="nextButtonMarker" style="padding: 2px 100px; border-radius: 20px; font-size: 25px;">Next</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--* ADD NODE TO YOUR PROJECT End -->


            <!-- Get Node Of Parcelle -->
            <div class="modal" id="customDisplayParcelsModal" tabindex="-1" aria-labelledby="customDisplayParcelsModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl" style="height: 100%; max-height: none;">
                    <div class="modal-content" style="border: 2px solid #32CD32; border-radius: 10px; height: 100%; max-height: none;">
                        <div class="modal-header">
                            <h4 class="modal-title text-success fw-bold" id="customDisplayParcelsModalLabel">LAST NODE ADDED OF PROJECT:</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="closeCustomButton"></button>
                        </div>
                        <div class="modal-body">
                            <div class="content-map-node mb-3" style="height: 90%;">
                                <div id="customDisplayMap" style="width: 100%; height: 100%;"></div>
                            </div>
                            <div class="text-center">
                                <a href="{% url 'supervisor:list_project' %}">
                                    <button type="button" class="btn btn-primary custom-gradient-button btn-lg" id="customNextButtonMarker" style="padding: 2px 100px; border-radius: 20px; font-size: 25px;">Next</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Get Node Of Parcelle End -->


            <!-- CRUD Parcelle and Node -->
            <div class="modal" id="customParcelsNodesModal" tabindex="-1" aria-labelledby="customParcelsNodesModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl" style="height: 100%; max-height: none;">
                    <div class="modal-content" style="border: 2px solid #32CD32; border-radius: 10px; height: 100%; max-height: none;">
                        <div class="modal-header">
                            <h4 class="modal-title text-success fw-bold" id="customParcelsNodesModalLabel">UPDATE NODE AND PARCELLE OF PROJECT:</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="closeCustomParcelsNodesButton"></button>
                        </div>
                        <div class="modal-body">
                            <div class="content-map-node mb-3" style="height: 90%;">
                                <div id="customParcelsNodesMap" style="width: 100%; height: 100%;"></div>
                            </div>
                            <div class="text-center">
                                <button type="button" class="btn btn-primary custom-gradient-button btn-lg" id="customParcelsNodesUpdateButton" style="padding: 2px 100px; border-radius: 20px; font-size: 25px;">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- CRUD Parcelle and Node End -->

        </div>
    </div>

    <!--* Footer Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="bg-light rounded-top p-4">
            <div class="row">
                <div class="col-12 col-sm-6 text-center text-sm-start">
                    &copy; <a href="{% url 'supervisor:dashboard_super' %}">Smart For Green</a>, All Right Reserved.
                </div>
                <div class="col-12 col-sm-6 text-center text-sm-end">
                    Designed By <a href="#">Leila MEGDICHE </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
</div>
<!-- Content End -->

<!--* Project Detail Modal (Initially Hidden) -->
<div id="projectDetailModal" class="modal" tabindex="-1" aria-labelledby="projectDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-top-start" style="margin: auto; top: 0; left: 0;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="projectDetailModalLabel">Project Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><strong>Project Name:</strong> <span id="detailProjectName"></span></p>
                <p><strong>Description:</strong> <span id="detailProjectDesc"></span></p>
                <p><strong>Start Date:</strong> <span id="detailStartDate"></span></p>
                <p><strong>End Date:</strong> <span id="detailEndDate"></span></p>
                <p><strong>Client:</strong> <span id="detailClient"></span></p>
            </div>
        </div>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var projectDetailModal = new bootstrap.Modal(document.getElementById('projectDetailModal'));
    var projectCardActions = document.querySelectorAll('.project-card-action.btn.btn-sm.btn-primary');

    projectCardActions.forEach(function(btn) {
        btn.addEventListener('click', function() {
            var projectName = btn.getAttribute('data-project-name');
            var projectDesc = btn.getAttribute('data-project-desc');
            var projectStart = btn.getAttribute('data-project-start');
            var projectEnd = btn.getAttribute('data-project-end');
            var projectClient = btn.getAttribute('data-project-client');

            document.getElementById('detailProjectName').textContent = projectName;
            document.getElementById('detailProjectDesc').textContent = projectDesc;
            document.getElementById('detailStartDate').textContent = projectStart;
            document.getElementById('detailEndDate').textContent = projectEnd;
            document.getElementById('detailClient').textContent = projectClient;

            projectDetailModal.show();
        });
    });

    document.getElementById('addProjectBtn').addEventListener('click', function() {
        var myModal = new bootstrap.Modal(document.getElementById('projectFormModal'), {
            backdrop: 'static',
            keyboard: false
        });
        myModal.show();
    });


    function openProjectListModal() {
        const params = new URLSearchParams(window.location.search);
        if (params.has('client_id') && params.has('reload')) {
            const projectListModal = new bootstrap.Modal(document.getElementById('projectList'));
            projectListModal.show();
            window.history.replaceState(null, '', window.location.pathname);
        }
    }
    openProjectListModal();


    var shouldShowMapModal = document.body.getAttribute('data-showmapmodal') === 'true';
    if (shouldShowMapModal) {
        var mapModal = new bootstrap.Modal(document.getElementById('projectMapModal'), {
            backdrop: 'static',
            keyboard: false
        });
        mapModal.show();
    }

    var closeButton = document.getElementById('closeButton');
    if (closeButton) {
        closeButton.addEventListener('click', function() {
            var listUrl = document.body.getAttribute('data-list-url');
            window.location.href = listUrl;
        });
    }

    var backButton = document.getElementById('backButton');
    if (backButton) {
        backButton.addEventListener('click', function() {
            var mapModal = bootstrap.Modal.getInstance(document.getElementById('projectMapModal'));
            mapModal.hide();

            var projectModal = new bootstrap.Modal(document.getElementById('projectFormModal'), {
                backdrop: 'static',
                keyboard: false
            });
            projectModal.show();
        });
    }

    const closeDisplayParcelsModalButton = document.getElementById('closeDisplayParcelsModal');
        if (closeDisplayParcelsModalButton) {
            closeDisplayParcelsModalButton.addEventListener('click', function() {
                const listUrl = document.body.getAttribute('data-list-url');
                window.location.href = listUrl;
            });
        }

        const closeCustomButton = document.getElementById('closeCustomButton');
        if (closeCustomButton){
            closeCustomButton.addEventListener('click', function(){
                const listUrl = document.body.getAttribute('data-list-url');
                window.location.href = listUrl;
            });
        }

        const backDisplayButton = document.getElementById('backDisplayButton');
        if (backDisplayButton) {
            backDisplayButton.addEventListener('click', function() {
                var displayParcelsModal = bootstrap.Modal.getInstance(document.getElementById('displayParcelsModal'));
                displayParcelsModal.hide();

                var projectMapModal = new bootstrap.Modal(document.getElementById('projectMapModal'), {
                    backdrop: 'static',
                    keyboard: false
                });
                projectMapModal.show();
            });
        }

    var editButtons = document.querySelectorAll('.project-card-action.btn.btn-sm.btn-warning');
    editButtons.forEach(function(btn) {
        btn.addEventListener('click', function() {
            var projectId = btn.getAttribute('data-project-id');
            console.log('Project ID:', projectId);
        });
    });
});
</script>


<!--* Get polygon  -->
<script>
document.addEventListener('DOMContentLoaded', function() {
    const customParcelsNodesModal = new bootstrap.Modal(document.getElementById('customParcelsNodesModal'), {
        backdrop: 'static',
        keyboard: false
    });

    let deletedPolygons = [];
    let deletedMarkers = [];

    document.querySelectorAll('#showCustomParcelsNodesModal').forEach(function(button) {
        button.addEventListener('click', function() {
            const projectId = this.getAttribute('data-project-id');
            const projectName = this.getAttribute('data-project-name');

            const modalTitle = document.getElementById('customParcelsNodesModalLabel');
            modalTitle.innerHTML = `UPDATE NODE AND PARCELLE OF PROJECT: <span style="color: black;">${projectName}</span>`;
            
            loadParcelsNodesMap(projectId);
            customParcelsNodesModal.show();
        });
    });

    function loadParcelsNodesMap(projectId) {
        const mapElement = document.getElementById('customParcelsNodesMap');
        if (!mapElement) {
            console.error("Map element is missing.");
            return;
        }
        
        // Remove any existing map instance
        if (window.customMap) {
            window.customMap.remove();
        }

        fetch(`/dashboard_super/get_project_details/${projectId}/`)
            .then(response => response.json())
            .then(projectData => {
                const latitude = projectData.latitude;
                const longitude = projectData.longitude;

                const map = window.customMap = L.map(mapElement).setView([latitude, longitude], 15); // Center on project coordinates

                L.tileLayer('http://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {}).addTo(map);

                fetch(`/dashboard_super/get_parcelles_with_nodes_for_project/?project_id=${projectId}`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.parcelles && data.parcelles.length > 0) {
                            const bounds = [];
                            data.parcelles.forEach(parcelle => {
                                const polygon = L.polygon(parcelle.coordinates, {
                                    color: 'blue',
                                    weight: 2,
                                    opacity: 1,
                                    fillOpacity: 0.5
                                }).bindPopup(
                                    `<b>Parcelle ID:</b> ${parcelle.id}<br>
                                     <button class="edit-polygon" data-id="${parcelle.id}">Edit</button>
                                     <button class="delete-polygon" data-id="${parcelle.id}">Delete</button>`
                                );
                                polygon.feature = { properties: { id: parcelle.id } };
                                polygon.addTo(map);
                                bounds.push(...parcelle.coordinates);

                                parcelle.nodes.forEach(node => {
                                    const marker = L.marker([node.latitude, node.longitude]).bindPopup(
                                        `<b>Name:</b> ${node.name}<br>
                                         <b>Ref:</b> ${node.ref}<br>
                                         <button class="edit-marker" data-id="${node.id}">Edit</button>
                                         <button class="delete-marker" data-id="${node.id}">Delete</button>`
                                    );
                                    marker.feature = { properties: { id: node.id } };
                                    marker.addTo(map);
                                });
                            });
                            map.fitBounds(bounds);
                        } else {
                            console.log("No parcels found for this project.");
                        }

                        
                    })
                    .catch(error => console.error('Error fetching parcels:', error));

                let drawnItemsPolygon = new L.FeatureGroup();
                map.addLayer(drawnItemsPolygon);

                let drawnItemsMarker = new L.FeatureGroup();
                map.addLayer(drawnItemsMarker);

                function addDrawControls(map) {
                    let drawControlPolygon = new L.Control.Draw({
                        edit: {
                            featureGroup: drawnItemsPolygon
                        },
                        draw: {
                            polygon: true,
                            polyline: false,
                            rectangle: false,
                            circle: false,
                            marker: false,
                            circlemarker: false
                        }
                    });
                    map.addControl(drawControlPolygon);

                    let drawControlMarker = new L.Control.Draw({
                        edit: {
                            featureGroup: drawnItemsMarker
                        },
                        draw: {
                            polygon: false,
                            polyline: false,
                            rectangle: false,
                            circle: false,
                            marker: true,
                            circlemarker: false
                        }
                    });
                    map.addControl(drawControlMarker);

                    map.on(L.Draw.Event.CREATED, function(event) {
                        const layer = event.layer;
                        if (event.layerType === 'polygon') {
                            drawnItemsPolygon.addLayer(layer);
                        } else if (event.layerType === 'marker') {
                            drawnItemsMarker.addLayer(layer);
                        }
                    });

                    map.on(L.Draw.Event.EDITED, function(event) {
                        const layers = event.layers;
                        layers.eachLayer(function(layer) {
                            if (layer instanceof L.Polygon) {
                                drawnItemsPolygon.addLayer(layer);
                            } else if (layer instanceof L.Marker) {
                                drawnItemsMarker.addLayer(layer);
                            }
                        });
                    });

                    map.on(L.Draw.Event.DELETED, function(event) {
                        const layers = event.layers;
                        layers.eachLayer(function(layer) {
                            if (layer instanceof L.Polygon) {
                                deletedPolygons.push(layer.feature.properties.id);
                            } else if (layer instanceof L.Marker) {
                                deletedMarkers.push(layer.feature.properties.id);
                            }
                        });
                    });

                    document.getElementById('customParcelsNodesUpdateButton').addEventListener('click', function() {
                        updateParcelsNodes(projectId, drawnItemsPolygon, drawnItemsMarker);
                    });
                }

                document.addEventListener('click', function(event) {
                    if (event.target.classList.contains('edit-polygon')) {
                        const id = event.target.getAttribute('data-id');
                        const polygonLayer = findLayerById(map, id, 'polygon');
                        if (polygonLayer) {
                            polygonLayer.editing.enable();
                        }
                    }
                    if (event.target.classList.contains('delete-polygon')) {
                        const id = event.target.getAttribute('data-id');
                        const polygonLayer = findLayerById(map, id, 'polygon');
                        if (polygonLayer) {
                            deletedPolygons.push(id);
                            map.removeLayer(polygonLayer);
                        }
                    }
                    if (event.target.classList.contains('edit-marker')) {
                        const id = event.target.getAttribute('data-id');
                        const markerLayer = findLayerById(map, id, 'marker');
                        if (markerLayer) {
                            markerLayer.dragging.enable();
                            markerLayer.on('dragend', function() {
                                markerLayer.feature.properties.modified = true;
                            });
                        }
                    }
                    if (event.target.classList.contains('delete-marker')) {
                        const id = event.target.getAttribute('data-id');
                        const markerLayer = findLayerById(map, id, 'marker');
                        if (markerLayer) {
                            deletedMarkers.push(id);
                            map.removeLayer(markerLayer);
                        }
                    }
                });
            })
            .catch(error => console.error('Error fetching project details:', error));
    }
    
    function updateParcelsNodes(projectId, drawnItemsPolygon, drawnItemsMarker) {
        const layersPolygon = drawnItemsPolygon.getLayers();
        const layersMarker = drawnItemsMarker.getLayers();

        const coordinatesPolygon = layersPolygon.map(layer => {
            const id = layer.feature.properties.id;
            const coordinates = layer.getLatLngs()[0].map(latlng => [latlng.lat, latlng.lng]);
            return { id, coordinates };
        });

        const coordinatesMarker = layersMarker.map(layer => {
            const id = layer.feature.properties ? layer.feature.properties.id : null;
            const latlng = layer.getLatLng();
            return { id, latitude: latlng.lat, longitude: latlng.lng, modified: layer.feature.properties.modified || false };
        });

        fetch('/dashboard_super/update_parcels_nodes/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
            },
            body: JSON.stringify({
                project_id: projectId,
                polygons: coordinatesPolygon,
                markers: coordinatesMarker,
                deleted_polygons: deletedPolygons,
                deleted_markers: deletedMarkers
            })
        })
        .then(response => response.json())
        .then(data => {
            if (data.message) {
                alert('Parcels and nodes updated successfully.');
                customParcelsNodesModal.hide();
                window.location.href = '/dashboard_super/project_list/';
            } else if (data.error) {
                alert('Error updating parcels and nodes.');
            }
        })
        .catch(error => console.error('Error:', error));
    }

    function findLayerById(map, id, layerType) {
        let layerFound = null;
        map.eachLayer(function(layer) {
            if (layer.feature && layer.feature.properties && layer.feature.properties.id === parseInt(id, 10)) {
                if ((layerType === 'polygon' && layer instanceof L.Polygon) || 
                    (layerType === 'marker' && layer instanceof L.Marker)) {
                    layerFound = layer;
                }
            }
        });
        return layerFound;
    }
});
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script>
    new WOW().init();
</script>
{% endblock %}